{% extends '../account/base.html' %}
{% block head_title %}Romsey Road Runners Race Results | {{ event.name }}{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.css"
          integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.min.js"
            integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"
            integrity="sha512-BsUtn1Ar2O78Q8YkY1f2pkioHOs8H43KUlP3PHus8lyAMODNq1CmemnU435dFk/SU37OGG+ooxvmEhAcNTEBFQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
    <h2>{{ event.name }}</h2>
    {% if event.route_image %}
    <p>
    A map of the route is <a href="{{ event.route_image.url }}">available here</a>.
    </p>
    {% endif %}
    {% if event.route_gpx %}
    <p>
    For the more technical amongst you there is also a <a href="{{ raeventce.route_gpx.url }}">GPX file available</a> which
    can be loaded into watches or phone apps for navigation.
    </p>
    <div id="event" class="gpx" data-gpx-source="{{ event.route_gpx.url }}" data-map-target="event-map">
    <article>
        <div class="map" id="event-map"></div>
      </article>

      <footer>
        <ul class="info">
          <li>Estimated Distance:&nbsp;<span class="distance"></span>&nbsp;km</li>
        </ul>
      </footer>
    </div>
    <script type="application/javascript">
      function display_gpx(elt) {
        if (!elt) return;

        var url = elt.getAttribute('data-gpx-source');
        var mapid = elt.getAttribute('data-map-target');
        if (!url || !mapid) return;

        function _t(t) { return elt.getElementsByTagName(t)[0]; }
        function _c(c) { return elt.getElementsByClassName(c)[0]; }

        var map = L.map(mapid);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.osm.org">OpenStreetMap</a>'
        }).addTo(map);

        var control = L.control.layers(null, null).addTo(map);

        new L.GPX(url, {
          async: true,
          marker_options: {
            wptIconUrls: {
                '': ''
            },
            startIconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/pin-icon-start.png',
            endIconUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/pin-icon-end.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/pin-shadow.png'

          },
        }).on('loaded', function(e) {
          var gpx = e.target;
          map.fitBounds(gpx.getBounds());
          control.addOverlay(gpx, gpx.get_name());
          _c('distance').textContent = (gpx.get_distance()/1000).toFixed(2);
        }).addTo(map);
      }
      display_gpx(document.getElementById('event'));
    </script>
    {% endif %}

    {% if event.relay %}
    <h2>Legs</h2>
    {% else %}
    <h2>Races</h2>
    {% endif %}

    {% if race_list %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Submissions Close</th>
            <th scope="col">Distance</th>
        </tr>
        </thead>
        <tbody>
        {% for race in race_list %}
        <tr>
            <td><a href="{% url 'race_results' race.id %}">{{ race.name }}</a></td>
            <td>{{ race.start_date }}</td>
            <td>{{ race.end_date }}</td>
            <td>{{ race.submissions_close }}</td>
            <td>{{ race.distance.normalize }}{{ race.distance_unit }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No races are available yet.</p>
    {% endif %}
    {% if event.relay %}
    <h3>Results</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            {% for race in race_list %}
            <th scope="col"><a href="{% url 'race_results' race.id %}">{{ race.name }}</a></th>
            {% endfor %}
            <th scope="col">Total Time</th>
        </tr>
        </thead>
        <tbody>
        {% for team_name, results_tuple in results_dict.items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
               {{ team_name }}
            </td>
            {% for leg_result in results_tuple.0 %}
            <td>
                {{ leg_result }}
            </td>
            {% endfor %}
            <td>
                {{ results_tuple.1 }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if event.description_html %}
    {% autoescape off %}
    {{ event.description_html }}
    {% endautoescape %}
    {% endif %}
</div>
{% endblock content %}
